<p id="notice"><%= notice %></p>

<h1>Start Learning</h1>

<div class="container container-fluid" id="productCon">
  <% @products.each_slice(3) do |slice| %>
      <div class="row">
            

              <% slice.each do |product| %>
              
                  <div class="col-md-4">
                      <div class="card">
                            <div class="card-body">
                                    Title
                                    Description
                                    Price
                                   Productid
                           
                                 
                                  
                                    
                                    
                                      <%= product.title %>
                                      <%= product.description %>
                                      <%= product.price %>
                                      <%= product.productid %>
                                      <%= link_to 'Show', product %>
                                      <%= link_to 'Edit', edit_product_path(product) %>
                                      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                                   
                                  
                               
                                     
                          </div>
                          <div class="card-footer">
                            <a href="/cart/<%=product.id %>" class="btn cards">Add To Cart</a>
                          </div>
                            
                        </div>
                      </div>
                    
                <% end %>
                    
      
           
        </div>
      <% end %>

 </div>   



<br>

<%= link_to 'New Product', new_product_path %>
